@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG-COLOR: #dddddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BG-COLOR: #424242;
    }

    body {
        color: #dddddd;
    }
}

body {
    text-align: center;
    font-family: 'Josefin Sans', monospace;
    background-color: var(--BG-COLOR);
    justify-content: center;
    min-height: 100vh;
}

.error {
    display: inline-block;
    background-color: #800;
    color: #fff;
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    height: 150px;
}

.logo {
    border: 5px solid #008080;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: transparent;
}

.name {
    font-size: 5rem;
    font-weight: bold;
}

.new-customer-form {
    transform: rotateZ(20deg);
    background-color: #ffbf00;
    line-height: 2;
}

.form-title {
    text-align: center;
    justify-content: center;
    background-color: #884800;
}

.same-line {
    display: flex;
    flex-flow: row;
}

.customer-paid {
    padding: 5px;
    background-image: linear-gradient(to right, violet, magenta);
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    position: sticky;
}

.header a:any-link {
    color: turquoise;
}

.footer {
    justify-content: center;
    text-align: center;
    position: sticky;
}

.container {
    padding: 5px;
}

.homepage {
    background-image: url('./ferriswheel.jpeg');
    background-color: rgba(0,0,0,0.5);
    color: #dddddd;
    background-blend-mode: darken;
    font-size: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.vingetti {
    border: 5px solid #008080;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-color: transparent;
    animation-name: name-appear;
    animation-duration: 1.5s;
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@keyframes name-appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.section-format {
    margin: 10px;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 120, 240, 0.6);
    justify-content: center;
}

.section-choice-page {
    display: flex;
    flex-flow: row;
    overflow: scroll;
}

.loading-screen {
    width: 150px;
    height: 150px;
    animation-name: spin;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: teal;
}

@keyframes spin {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(90deg);}
}

.form-input {
    border-radius: 5px;
}

.form-input-invalid {
    border: 1px solid #f00;
    outline: 1px solid #f00;
}

.add-section-to-customer {
    text-align: center;
    justify-content: center;
}

.customer-info {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.customer-info span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}
.section-info {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.customer-info span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 50px;
    }

    .logo {
        width: 50px;
        height: 50px;
        border-width: 2.5px;
    }

    .name {
        font-size: 2.5rem;
    }

    .same-line {
        flex-flow: row;
    }

    .customer-paid {
        width: 150px;
        height: 50px;
    }

    .homepage {
        font-size: 1rem;
    }

    .vingetti {
        width: 400px;
        height: 400px;
        font-size: 3rem;
    }

    .section-format {
        width: 150px;
    }

    .loading-screen {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .banner {
        height: 25px;
    }

    .logo {
        width: 25px;
        height: 25px;
        border-width: 1px;
    }

    .name {
        font-size: 1rem;
    }
    .customer-paid {
        width: 100px;
        height: 30px;
    }

    .homepage {
        font-size: 0.5rem;
    }

    .vingetti {
        width: 200px;
        height: 200px;
        font-size: 1.5rem;
    }

    .section-format {
        width: 100px;
    }
}